<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>New menu item </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

<header class="content">
  <h1 id="header-title">New menu item for {{ restaurant.name }}</h1>

  {% if "username" in session %}
  <ul class="log">
    <li><span>You're logged as {{ session["username"] }}</span></li>
    <li><a href="{{ url_for('gdisconnect') }}">Logout</a></li>
  </ul>
  {% else %}
  <ul class="log">
    <li><span>Login to edit or delete</span></li>
    <li><a href="{{ url_for('showLogin') }}" class="login">Login</a></li>
  </ul>
  {% endif %}
</header>

<main class="content">
  {% if "username" in session %}
  <form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}" method = "POST">
    <p>Name:</p>
    <input type="text" size="30" name="name" required>
    <p>Description:</p>
    <input type="text" size="30" name="description" required>
    <p>Price:</p>
    <input type="text" size="30" name="price" required>
    <p>Course:</p>
    <input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
    <input type="radio" name="course" value="Entree">Entree<br>
    <input type="radio" name="course" value="Dessert">Dessert<br>
    <input type="radio" name="course" value="Beverage">Beverage<br>
    <input type="submit" value="Create">
    <a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">Cancel</a>
  </form>
  {% else %}
  <p>You're not logged in</p>
  <a href="javascript:history.back()">Return</a>
  {% endif %}
</main>

</body>
</html>
